

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cotización enviada correctamente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><b>Cliente:</b> {{Client.name}}</p>
        <p><b>Email:</b> {{Client.email}}</p>
        <h6 class="text-center"><strong class="text-md">Automovil</strong></h6>
        <div class="flex align-items-center">
          <p class="mb-0"><b>Color:</b></p>
          <div class="p-3 rounded w-25 mt-0" [style.background]="Car.color"></div>
        </div>
        <p class="mt-1"><b>Model:</b> {{Car.model}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="aceptar()" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
